[submodule "lib/vendor/xhrQuery"]
	path = lib/vendor/xhrQuery
	url = git@github.com:neooblaster/xhrQuery.git
[submodule "site/lib/vendor/uneminuteago/maps"]
	path = site/lib/vendor/uneminuteago/maps
	url = git@github.com:UneMinuteAgo/maps.git
